@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans SC', sans-serif;
  }
  
  * {
    @apply transition-colors duration-300;
  }
}

#root {
  @apply bg-white dark:bg-gray-900;
}

/* 自定义滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fdba74;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fb923c;
}

.dark ::-webkit-scrollbar-thumb {
  background: #475569;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
